.App {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: flex-end;
}

.weather-infos {
  display: flex;
  flex: 1;
  background: rgba(255, 255, 255, .3);
}

.forecast {
  display: flex;
  flex-direction: row;
  color: #fff;
  flex: 1;
}

.single-forecast {
  display: flex;
  flex: 1;
  border-left: 1px solid #333;
  flex-direction: column;
  align-items: center;
}

.forecast-day {
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: rgba(11, 22, 55, 0.5);
}
