.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  /* align-items: flex-end; */
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
}

.container-map {
  flex: 0.5;
}

.location-infos {
  align-self: flex-start;
  color: #fff;
  padding: 2rem;
  border-radius: 0 0 1rem 0;
  background: rgba(0, 0, 0, 0.3);
  flex: 0.3;
}

.weather-infos {
  display: flex;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.3);
}
