body {
  background-color: #0044aa;
}

.forecast {
  display: flex;
  flex-direction: row;
  color: #fff;
}

.single-forecast {
  display: flex;
  flex: 1;
  border-left: 1px solid #333;
  flex-direction: column;
  align-items: center;
}

.forecast-day {
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: rgba(11, 22, 55, 0.5);
}
